.header {
    background: #000000ae;
    position: fixed;
    width: 100%;
      &_inner {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            color: #fff;
            font-size: 2em;
            font-weight: bold;
            span {
                color: #d00707;
                font-weight: bolder;
            }
        }
        &_menu {
            width: 50%;
            display: flex;
            justify-content: space-between;
            &_link {
                text-decoration: none;
                color: #fff;
            }
        }
      }
}